<div class="jb-product-collateral">
  <div class="tab-content">
    <div class="tabs" id="tab2">
      <div class="container">
          
  <div class="tab-content-inner">
<div class="tab-content-title">
            {% if block.settings.title != blank %}
            {{ block.settings.title }} 
            {% endif %}
         </div>
            {% if block.settings.detail != blank %}
            {{ block.settings.detail }}
            {% endif %}
            
            
 <div class="tab-content-table-wrapper" id="tab22">
          <table class="tab-content-table">
              <tbody>
                  <tr>
                    {% if block.settings.table_heading1 != blank %}
                      <th>{{ block.settings.table_heading1 }}</th>
                    {% endif %}
                    {% if block.settings.table_heading2 != blank %}
                      <th>{{ block.settings.table_heading2 }}</th>
                    {% endif %}
                  </tr>
                      {% if block.settings.table_row_left1 != blank and block.settings.table_row_right1 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left1 }}</td>
                      <td>{{ block.settings.table_row_right1 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left2 != blank and block.settings.table_row_right2 != blank%}
                  <tr>
                      <td>{{ block.settings.table_row_left2 }}</td>
                      <td>{{ block.settings.table_row_right2 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left3 != blank and block.settings.table_row_right3 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left3 }}</td>
                      <td>{{ block.settings.table_row_right3 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left4 != blank and block.settings.table_row_right4 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left4 }}</td>
                      <td>{{ block.settings.table_row_right4 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left5 != blank and block.settings.table_row_right5 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left5 }}</td>
                      <td>{{ block.settings.table_row_right5 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left6 != blank and block.settings.table_row_right6 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left6 }}</td>
                      <td>{{ block.settings.table_row_right6 }}</td>
                  </tr>
                {% endif %}
                 {% if block.settings.table_row_left7 != blank and block.settings.table_row_right7 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left7 }}</td>
                      <td>{{ block.settings.table_row_right7 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left8 != blank and block.settings.table_row_right8 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left8 }}</td>
                      <td>{{ block.settings.table_row_right8 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left9 != blank and block.settings.table_row_right9 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left9 }}</td>
                      <td>{{ block.settings.table_row_right9 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left10 != blank and block.settings.table_row_right10 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left10 }}</td>
                      <td>{{ block.settings.table_row_right10 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left11 != blank and block.settings.table_row_right11 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left11 }}</td>
                      <td>{{ block.settings.table_row_right11 }}</td>
                  </tr>
                {% endif %}
                      {% if block.settings.table_row_left12 != blank and block.settings.table_row_right12 != blank %}
                  <tr>
                      <td>{{ block.settings.table_row_left12 }}</td>
                      <td>{{ block.settings.table_row_right12 }}</td>
                  </tr>
                {% endif %}
                {% if block.settings.table_heading1 == blank and block.settings.table_heading2 == blank %}
                <style>
                	#tab55
                  { display:none; }
                  .jb-product-collateral .tab-content .tabs .tab-content-table-wrapper
                  {
                  	border:none;
                  }
                </style>
                {% endif %}
              </tbody>
          </table>
</div>
          
            
          </div>
   		</div>
  </div></div>
  </div>