{% comment %}
	Renders a media element for the product gallery.
	Media types include: image, video, external_video and model.
	Accepts:
	- media: {Object} Media Liquid object (required)
	- featured_media: {Object} Media Liquid object (required) - featured media of a given product or variant
	- is_single_media: {Boolean} If there is only one product media

	Usage:
	{%- for media in product.media -%}
		{%- render 'media', media: media, featured_media: featured_media, is_single_media: is_single_media -%}
	{%- endfor -%}
{% endcomment %}

{%- assign image_size = '1024x1024' -%}
{%- assign image_zoom_size = '2048x2048' -%}
{%- capture media_wrapper_id -%}FeaturedMedia-{{ section.id }}-{{ media.id }}-wrapper{%- endcapture -%}
{%- capture tabindex -%}
	{%- if media.media_type == 'image' -%}
		0
	{%- else -%}
		-1
	{%- endif -%}
{%- endcapture -%}

{%- assign media_aspect_ratio = media.aspect_ratio -%}
{%- unless media_aspect_ratio -%}
	{%- assign media_aspect_ratio = 1 -%}
{%- endunless -%}
{%- assign media_padding_top = 1 | divided_by: media_aspect_ratio | times: 100 | round: 1 -%}

<div id="{{ media_wrapper_id }}"
	class="js-slide js-slide--{{ media.media_type }} product-image{% if is_single_media %} product-image--single{% endif %}{% unless featured_media == media %} media--hidden{% endunless %}"
	data-id="{{ media.id }}"
	{% if media.media_type == 'video' or media.media_type == 'external_video' %}
		data-product-media-type-video
		data-enable-video-looping="{{ section.settings.enable_video_looping }}"
	{% endif %}
	{% if media.media_type == 'model' %}
		data-product-media-type-model
	{% endif %}
	{% if media.media_type == 'external_video' %}
		data-video-id="{{ media.external_id }}"
	{% endif %}
	data-product-single-media-wrapper
	data-media-id="{{ section.id }}-{{ media.id }}"
	tabindex="{{ tabindex }}">

	{%- case media.media_type -%}
		{%- when 'image' -%}
			<div class="product-single__media product-single__media--image lazyload"
				data-bgset="{% render 'bgset', image: media %}"
				data-sizes="auto"
				data-parent-fit="contain"
				data-aspect-ratio="{{ media_aspect_ratio }}"
			>
				<div class="product-single__media--image-height" style="padding-top: {{ media_padding_top }}%;"></div>
			</div>

			<noscript>
				<div class="product-single__media product-single__media--image product-single__media--no-js" style="background-image: url({{ media | img_url: '2048x' }});"></div>
			</noscript>

			{%- if section.settings.lightbox -%}
				<a href="{{ media | product_img_url: image_zoom_size }}" class="product-image__lightbox-link" rel="lightbox" data-lightbox-link tabindex="-1"></a>
			{%- endif -%}

		{%- when 'external_video' -%}
			<div class="product-single__media product-single__media--video" style="padding-top: {{ media_padding_top }}%;">
				{{ media | external_video_tag }}
			</div>
		{%- when 'video' -%}
			<div class="product-single__media product-single__media--video product-single__media--{{ media.id }}" style="padding-top: {{ media_padding_top }}%;">
				{{ media | video_tag: class: 'media-video', image_size: image_size }}
			</div>
		{%- when 'model' -%}
			<div class="product-single__media product-single__media--model" style="padding-top: 100%">
				{{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
			</div>
		{%- else -%}
			<div class="product-single__media" style="padding-top: {{ media_padding_top }}%;">
				{{ media | media_tag: class: 'media-item', image_size: image_size }}
			</div>
	{%- endcase -%}
</div>