{%- assign transition_text = settings.transition_text -%}
{%- assign animation_delay = 0 -%}
{%- assign heading = block.settings.title -%}
{%- assign description = block.settings.description -%}
{%- assign image = block.settings.image -%}
{%- assign image_link = block.settings.image_link -%}
{%- assign button_text = block.settings.button_text -%}
{%- assign button_link = block.settings.button_link -%}
{%- assign button_style = block.settings.button_style -%}

<div class="feature-item {% if is_block_odd %}feature-item--odd{% endif %}" data-alignment="{{ blocks_alignment }}">
	<div class="feature-image">
		{%- if image_link != blank -%}<a href="{{ image_link }}">{%- endif -%}
			{%- if image != blank -%}
				<div
					 class="feature-image-bg lazyload"
					 loading="lazy"
					 data-bgset="{% render 'bgset', image: image %}"
					 data-sizes="auto"
					 data-parent-fit="cover"
					 style="padding-top: {{ image_height }};">
				</div>
				<noscript>
					<div class="feature-image-bg" style="background-image: url({{ image | img_url: '1024x' }});padding-top: {{ image_height }};"></div>
				</noscript>
			{%- else -%}
				<div class="feature-image-bg" style="padding-top: {{ image_height }};">
					<div class="svg-placeholder">
						{%- capture current -%}{% cycle 'current': 1, 2 %}{%- endcapture -%}
						{{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
					</div>
				</div>
			{%- endif -%}
		{%- if image_link != blank -%}</a>{%- endif -%}
	</div>
	<div class="feature-text">
		<div class="feature-text-wrap">
			{%- if heading != blank -%}
				<h2{% if transition_text %} class="will-animate" data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
					{{- heading | escape -}}
				</h2>
				{%- assign animation_delay = animation_delay | plus: 250 -%}
			{%- endif -%}

			{%- if description != blank -%}
				<div class="feature-text__p{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
					{{- description -}}
				</div>
				{%- assign animation_delay = animation_delay | plus: 250 -%}
			{%- endif -%}

			{%- if button_text != blank -%}
				<div class="feature-text__button{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
					<a href="{{ button_link }}" class="button button--{{ button_style }}">{{ button_text }}</a>
				</div>
			{%- endif -%}
		</div>
	</div>
</div>
