{%- comment -%} Section {%- endcomment -%}
{%- if block.id != blank -%}
	{%- assign id = block.id -%}
	{%- assign layout = block.settings.layout -%}
	{%- assign subheading = block.settings.subheading -%}
	{%- assign title = block.settings.title -%}
	{%- assign content = block.settings.content -%}
	{%- assign button_text = block.settings.button_text -%}
	{%- assign button_link = block.settings.button_link -%}
	{%- assign button_style = block.settings.button_style -%}
{%- else -%}
	{%- assign id = section.id -%}
	{%- assign layout = section.settings.layout -%}
	{%- assign subheading = section.settings.subheading -%}
	{%- assign title = section.settings.title -%}
	{%- assign content = section.settings.content -%}
	{%- assign button_text = section.settings.button_text -%}
	{%- assign button_link = section.settings.button_link -%}
	{%- assign button_style = section.settings.button_style -%}
{%- endif -%}

{%- assign row_split = false -%}
{%- if layout == 'split' and title != blank and content != blank -%}
	{%- assign row_split = true -%}
{%- endif -%}
{%- assign transition_text = settings.transition_text -%}
{%- assign animation_delay = 0 -%}

{%- if title != blank or content != blank or button_text != blank -%}
<section class="title-module container-wrap" id="text-module-{{ id }}" data-section-type="rich-text">
	<div class="container pad-sm">
		<div class="row {% if row_split %}row--split{% else %}row-sm{% endif %}">
			{%- if title != blank or subheading != blank -%}
				<div class="rich-heading">
					{%- if subheading != blank -%}
						<p class="rich__subheading subheading-text{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
							{{- subheading -}}
						</p>
						{%- assign animation_delay = animation_delay | plus: 250 -%}
					{%- endif -%}

					{%- if title != blank -%}
						<h2 class="rich__heading{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
							{{- title -}}
						</h2>
						{%- assign animation_delay = animation_delay | plus: 250 -%}
					{%- endif -%}
				</div>
			{%- endif -%}

			{%- unless settings.accent_line == 'none' -%}
				<div class="rich-text__accent-line{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
					{%- render 'accent-line' -%}
				</div>
				{%- assign animation_delay = animation_delay | plus: 250 -%}
			{%- endunless -%}

			{%- if content != blank -%}
				<div class="rich-content{% if button_text == blank %} no-button{% endif %}">
					<div{% if transition_text %} class="will-animate" data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
						{{- content -}}
					</div>

					{%- assign animation_delay = animation_delay | plus: 250 -%}

					{%- if button_text != blank -%}
						<div class="button-wrap{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
							<a href="{{ button_link }}" class="button button--{{ button_style }}" title="{{ button_text }}">{{ button_text }}</a>
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}
		</div>
	</div>
</section>
{%- endif -%}