<section class="page-title container-wrap desktop-view">
			
  <div class="custom-field custom-field__blog-top-banner-image custom-field__type--image">
    
    <div class="custom-field--value">
      {% if section.settings.desktop_banner_image != blank %}
       <img src="{{ section.settings.desktop_banner_image | img_url: '1024x' }}" style="width:100%">
    {% endif %}
    </div>
    <div class="container">
				
      <div class="row row-sm page-title__wrapper">
        {% if section.settings.subheading != blank %}
                      <div class="sub-heading">{{ section.settings.subheading }}</div>
		{% endif %}
        {% if section.settings.heading != blank %}
						<h1 class="page-title__heading" {% if section.settings.heading_color != blank %} style="color:{{section.settings.heading_color}}"{% endif %}>{{ section.settings.heading }}</h1>
		{% endif %}
</div>
			</div>
  </div>
</section>

<section class="page-title container-wrap mobile-view">			
  <div class="custom-field custom-field__blog-top-banner-image custom-field__type--image">
    
   {% if section.settings.mobile_banner_image != blank %}
      <img src="{{ section.settings.mobile_banner_image | img_url: '1024x' }}">
    {% endif %}
    <div class="container">
				<div class="row inline u-center">
                  {% if section.settings.subheading != blank %}
                  <div class="blog-sub-title">
                  {{ section.settings.subheading }}
                  </div>		
                  {% endif %}
                  {% if section.settings.heading != blank %}
                  <h1 class="blog-title">
                    <span {% if section.settings.heading_color != blank %} style="color:{{section.settings.heading_color}}"{% endif %}>{{ section.settings.heading }}</span></h1>
      			{% endif %}
      </div>
			</div>
  </div>
</section>