{% comment %}

	Template note:
		- There are instances of inline JS below. Best practices advise separating this
			into an external JS file
		- There are separate 'add new' and 'edit' address forms


	<a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
{% endcomment %}
{%- paginate customer.addresses by 5 -%}
<section class="account-page">
	<div class="account-page container">
		<div class="account-crumbs row">
			<p class="size--heading-2"><a href="{{ routes.account_url }}" class="account-breadcrumb f-underline">{{ 'customer.account.title' | t }}</a>: {{ 'customer.addresses.title' | t }}</p>
		</div>

		<div class="row">

				<a href="#" id="js-addAddress" class="button" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" style="display: inline-block">{{ 'customer.addresses.add_new' | t }}</a>

				<div class="block s1">

					{% comment %}
						Add address form, hidden by default
					{% endcomment %}
					<div id="AddAddress" class="js-addAddress address-form--add account-form" style="display: none;">
						{%- form 'customer_address', customer.new_address -%}

							<p class="size--heading-3 pad-sm">{{ 'customer.addresses.add_new' | t }}</p>

							<div class="row inline">

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
									<input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
									<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
									<input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
									<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
									<input type="text" id="AddressCompanyNew" class="optional" name="address[company]" value="{{ form.company }}" autocapitalize="words">
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
									<input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
									<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
									<input type="text" id="AddressAddress2New" class="optional" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
									<input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocapitalize="words">
									<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
								</div>

								<div class="selector-wrapper inputGroup block s1 med_s12 lg_s13">
									{%- render "icon-arrow" -%}
									<label class="c-gray" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
									<select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
								</div>

								<div class="selector-wrapper inputGroup block s1 med_s12 lg_s13" id="AddressProvinceContainerNew" style="display:none">
									{%- render "icon-arrow" -%}
									<label class="c-gray" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
									<select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
									<input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
									<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
								</div>

								<div class="inputGroup block s1 med_s12 lg_s13">
									<label class="c-gray" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
									<input type="tel" id="AddressPhoneNew" class="optional" name="address[phone]" value="{{ form.phone }}">
								</div>

								<div class="gridSpacer block s1 med_s12 lg_s13"></div>

							</div>
							<div class="row inline u-left">
								<div class="inputGroup no-label block checkboxBlock">
									{{ form.set_as_default_checkbox }}
									<label class="c-gray" for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
								</div>
							</div>
							<div class="row inline u-left">
								<input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}">

								<div class="account-form__links block s1 row inline">
									<a href="#" class="js-cancelNew c-gray account-form__link" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
								</div>
							</div>
						{%- endform -%}
					</div>
				</div>

				<div class="saved-addresses block s1">

					<p class="size--heading-2 pad-sm">{{ 'customer.addresses.title' | t }}</p>

					{% comment %}
						List all customer addresses with a unique edit form.
						Also add pagination in case they have a large number of addresses
					{% endcomment %}
					{%- for address in customer.addresses -%}

						<div class="p address">
							{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
							{% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}<br>
							{{ address.address1 }}<br>

							{% if address.address2 != "" %}
								{{ address.address2 }}<br>
							{% endif %}

							{% if address.city != "" %}
								{{ address.city }}
							{% endif %}

							{% if address.province_code != "" %}
								{{ address.province_code | upcase }}
							{% endif %}

							{% if address.zip != "" %}
								{{ address.zip | upcase }}<br>
							{% endif %}

							{% if address.country != "" %}
								{{ address.country }}<br>
							{% endif %}

							{% if address.phone != "" %}
								{{ address.phone }}<br>
							{% endif %}

							{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
							{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
						</div>

						<div id="EditAddress_{{ address.id }}" class="js-editAddress account-form" style="display:none;">
							{%- form 'customer_address', address -%}

								<p class="size--heading-3">{{ 'customer.addresses.edit_address' | t }}</p>

								<div class="row inline">
									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
										<input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
										<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
										<input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
										<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
										<input type="text" id="AddressCompany_{{ form.id }}" class="optional" name="address[company]" value="{{ form.company }}" autocapitalize="words">
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
										<input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
										<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
										<input type="text" id="AddressAddress2_{{ form.id }}" class="optional" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
										<input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocapitalize="words">
										<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										{%- render "icon-arrow" -%}
										<label class="c-gray" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
										<select id="AddressCountry_{{ form.id }}" name="address[country]" data-default="{{ form.country }}" data-form-id="{{ form.id }}" class="address-country-option">{{ country_option_tags }}</select>
									</div>

									<div id="AddressProvinceContainer_{{ form.id }}" class="selector-wrapper inputGroup block s1 med_s12 lg_s13" style="display:none">
										{%- render "icon-arrow" -%}
										<label class="c-gray" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
										<select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
										<input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
										<span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
									</div>

									<div class="inputGroup block s1 med_s12 lg_s13">
										<label class="c-gray" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
										<input type="tel" id="AddressPhone_{{ form.id }}" class="optional" name="address[phone]" value="{{ form.phone }}">
									</div>

									<div class="gridSpacer block s1 med_s12 lg_s13"></div>

								</div> <!-- END .row.inline -->
								<div class="row inline u-left">
									<div class="inputGroup no-label block checkboxBlock">
										{{ form.set_as_default_checkbox }}
										<label class="c-gray" for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
									</div>
								</div>
								<div class="row inline u-left">
									<input type="submit" class="button" value="{{ 'customer.addresses.update' | t }}">
									<div class="account-form__links block s1 row inline">
										<a href="#" class="js-cancelEdit c-gray account-form__link" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
									</div>
								</div>

							{%- endform -%}
						</div>
					{%- endfor -%}

					{%- if paginate.pages > 1 -%}
						<hr>
						<div class="pagination">
							{{- paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' -}}
						</div>
					{%- endif -%}
				</div>

			</div>

		</div>
	</div>
</section>
{%- endpaginate -%}
