{% comment %} Settings {% endcomment %}
{%- assign featured_collection = collections[section.settings.featured_collection] | default: false -%}
{%- assign title = section.settings.title -%}
{%- assign sub_title = section.settings.sub_title -%}
{%- assign show_description = section.settings.show_description -%}
{%- assign layout = section.settings.products_layout -%}
{%- assign show_button = section.settings.show_button -%}
{%- assign show_button_text = section.settings.show_button_text -%}
{%- assign show_button_link = section.settings.show_button_link -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign color_style = section.settings.color_style -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign featured_collection_img = section.settings.featured_collection_img -%}
{%- assign title_color = section.settings.title_color -%}
{%- assign sub_title_color = section.settings.sub_title_color -%}
{%- assign show_reviews = settings.show_reviews -%}
{%- assign enable_carousel = false -%}
{%- if layout == 'carousel' -%}
	{%- assign enable_carousel = true -%}
{%- endif -%} 

{% comment %} Layout {% endcomment %}
{% comment %}
  Set collectionBlock size classes
  These are applied in the collectionGrid-block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign collection_block_size = 'lg_s1' | append: columns_size -%}
{%- assign collection_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign collection_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}
{%- assign products_rows = section.settings.products_rows | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}

{% comment %} Section {% endcomment %}
<section {% if featured_collection_img %}style="background-image: url({{ featured_collection_img | img_url: '1500x'}});"{% endif %} class=" {% if featured_collection_img %}fc-bg-color{% endif %} featured-collection collectionGrid container-wrap js-collection-grid js-collectionGrid" id="collection-module-{{ section.id }}"
	data-section-type="featured-collection"
	data-section-id="{{ section.id }}"
	data-show-quickView="{{ settings.show_quick_view }}"
	data-show_reviews="{{ show_reviews }}"
	data-show_quantity="{{ settings.show_quantity }}"
	data-yotpo="{{ settings.enable_yotpo }}"
	data-yotpo-id="{{ settings.yotpo_ID }}"
	data-enable-color-swatches="{{ enable_color_swatches }}"
	data-style="{{ color_style }}"
	data-carousel="{{ enable_carousel }}"
	data-slides-per-row="{{ settings.products_columns }}"
	data-image-aspectratio="{{ settings.image_aspect_ratio }}"
	data-image-size="{{ settings.image_size }}"
	data-collection-products>
	<div class="container">
		{%- if title != blank or show_description and featured_collection.description != blank -%}
			<div class="collectionGrid-header row row-sm">
				<div class="block s1">
                  {%- unless sub_title == blank -%}
						<div {% if sub_title_color %}style="color: {{ sub_title_color }};"{% endif %} class="page-title__subheading subheading-text" style="margin-top: 20px;">{{ sub_title }}</div>
					{%- endunless -%}
					{%- unless title == blank -%}
						<h2 {% if title_color %}style="color: {{ title_color }};"{% endif %}>{{ title }}</h2>
					{%- endunless -%}

					{%- if show_description and featured_collection.description != blank -%}
						<p>{{ featured_collection.description | strip_html }}</p>
					{%- endif -%}
				</div>
			</div>
		{%- endif -%}
	

	{%- if enable_carousel -%}
	<div class="collection-slider__wrapper">
	{%- endif -%}

		<div class="collectionGrid-row {% if enable_carousel %}collectionGrid-row--slider collection-slider js-collection-slider{% else %}collectionGrid-row--grid{% endif %}">
			{% comment %} Collection Block, contains .js-quickView {% endcomment %}
			{%- if featured_collection -%}
				{%- if enable_carousel -%}
					{%- for product in featured_collection.products -%}
						{%- render 'product-grid-item', product: product, collection_block_size: collection_block_size, collection_block_size_mobile: collection_block_size_mobile, index: forloop.index -%}
					{%- endfor -%}
				{%- else -%}
					{%- for product in featured_collection.products limit: products_limit  -%}
						{%- render 'product-grid-item', product: product, collection_block_size: collection_block_size, collection_block_size_mobile: collection_block_size_mobile, index: forloop.index -%}
					{%- endfor -%}
				{%- endif -%}
			{%- else -%}
				{%- for i in (1..products_limit) -%}
					{%- render 'product-grid-item', fallback: true, collection_block_size: collection_block_size, collection_block_size_mobile: collection_block_size_mobile, index: forloop.index -%}
				{%- endfor -%}
			{%- endif -%}
		</div>

	{%- if enable_carousel -%}
	</div>
	{%- endif -%}

	{% comment %} Shop All Link {% endcomment %}
	{%- if show_button -%}
		<div class="row row-med u-center button-wrapper">
			<a href="{%- if show_button_link -%}{{ show_button_link }}{%- endif -%}" class="button button--{{ button_style }}" style="margin-bottom: 18px;">
				{%- if show_button_text != blank -%}
              		{{ show_button_text }}
              	{%- endif -%}
			</a>
		</div>
	{%- endif -%}
      </div>
</section>
<style>
section.fc-bg-color {
    background-position: right;
}
</style>
{%- render 'product-quick-view' -%}

{% comment %} Schema {% endcomment %}
{% schema %}
{
	"name": "Featured collection",
	"class": "shopify-section--featured-collection",
	"settings": [
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#FFFFFF"
        },
		{
			"type": "text",
			"id": "sub_title",
			"label": "Sub Heading"
		},
        {
          "type": "color",
          "id": "sub_title_color",
          "label": "Sub Heading Color",
          "default": "#FFFFFF"
        },
		{
			"type": "collection",
			"id": "featured_collection",
			"label": "Collection"
		},
		{
			"type": "image_picker",
			"id": "featured_collection_img",
			"label": "Collection bg Image"
		},
		{
			"type": "checkbox",
			"id": "show_description",
			"label": "Show collection description",
			"default": false
		},
		{
			"type": "select",
			"id": "products_layout",
			"label": "Layout",
			"default": "grid",
			"options": [
				{ "value": "grid", "label": "Grid" },
				{ "value": "carousel", "label": "Carousel" }
			]
		},
		{
			"type": "range",
			"id": "products_rows",
			"label": "Products rows",
			"info": "For grid layout only",
			"default": 2,
			"min":1,
			"max":4,
			"step":1
		},
		{
			"type": "checkbox",
			"id": "show_button",
			"label": "Show collection link button",
			"default": true
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		},
		{
			"type": "select",
			"id": "color_style",
			"label": "Arrows style",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "Light"
				},
				{
					"value": "black",
					"label": "Dark"
				}
			]
		},
		{
			"type": "text",
			"id": "show_button_text",
			"label": "Button Tetx"
			
		},
		{
			"type": "url",
			"id": "show_button_link",
			"label": "Button Link"
			
		}
	],
	"presets": [
		{
			"category": "Collection",
			"name": "Featured collection",
			"settings": {
				"featured_collection": "frontpage"
			}
		}
	]
}
{% endschema %}