{%- layout 'password' -%}
{%- assign logo_width = section.settings.logo_width | append: 'px' -%}

<style>.logo__image-link { width: {{ logo_width }}; }</style>

<div class="password__container" id="SiteContainer">
{%- if section.settings.background != blank -%}
	<div class="password__background lazyload" data-bgset="{% render 'bgset', image: section.settings.background %}" data-sizes="auto" data-parent-fit="cover"></div>
	<noscript>
		<div class="password__background" style="background-image: url( {{ section.settings.background | img_url: '1024x' }} );"></div>
	</noscript>
{%- else -%}
	<div class="password__background" style="background-image: url( {{ 'password.jpg' | asset_url }} );"></div>
{%- endif -%}
	<div class="password__overlay"></div>
	<div class="container">
		<div class="password-wrapper row row-sm u-center">
			<div class="logo__wrapper">
				{%- if section.settings.logo != blank -%}
					<a href="{{ routes.root_url }}" class="logo">
						{%- assign image = section.settings.logo -%}
						{%- assign image_widths = '[295,394,590,700,800,1000,1200,1500,1800,2000,2400]' -%}
						{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

						<img
							class="logo__image-link lazyload"
							src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
							data-src="{{ image_url_pattern }}"
							data-widths= "{{ image_widths }}"
							data-aspectratio="{{image.aspect_ratio }}"
							data-sizes="auto">
						<noscript>
							<img src="{{ section.settings.logo | img_url: '512x' }}" alt="{{ page.title | escape }}">
						</noscript>
					</a>
				{%- else -%}
					<h1 class="logo logo--text" itemscope itemtype="http://schema.org/Organization">
						<a href="{{ routes.root_url }}" itemprop="url">{{ shop.name | escape }}</a>
					</h1>
				{%- endif -%}
			</div>

			<div class="password__signup">
				<h1>{{ 'password.content.welcome_headline' | t }}</h1>

				{% unless section.settings.text_newsletter == blank %}
					<div class="password__newsletter-text">
						{{ section.settings.text_newsletter }}
					</div>
				{% endunless %}

				<div class="signup-form">

					{%- form 'customer' -%}
						{%- unless shop.password_message == blank -%}
							{%- unless form.posted_successfully? -%}
								<p class="password__message">{{ shop.password_message }}</p>
							{%- endunless -%}
						{% endunless %}

						{%- if form.errors -%}
							<div class="feedback error p">
								{{ form.errors | default_errors }}
							</div>
						{%- endif -%}

						{%- if form.posted_successfully? -%}
							<p>{{ 'password.forms.success' | t }}</p>
						{%- else -%}
							<input type="hidden" name="contact[tags]" value="prospect, password page, newsletter subscriber">
							<div class="input-group{% if form.errors %} input-group--error{% endif %}">
								<p class="form-field form-field--email">
									<input type="email" name="contact[email]" id="email" class="email" placeholder="{{ 'password.forms.email_placeholder' | t }}"
									{%- if form.errors contains 'email' -%}
										aria-invalid="true"
									{%- endif -%}
									>
									<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
									<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
								</p>
								<p class="form-field form-field--submit">
									<input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
								</p>
							</div>
						{%- endif -%}
					{%- endform -%}
				</div>

			</div>

			<div class="password__login">

				<h3>{{ 'password.forms.enter_password_title' | t }}</h3>

				<div class="signup-form">

					{%- form 'storefront_password' -%}

						{%- if form.errors -%}
							<div class="feedback error p">
								{{ form.errors | default_errors }}
							</div>
						{%- endif -%}

						<div class="input-group">
							<p class="form-field form-field--password">
								<input type="password" name="password" class="password inline" placeholder="{{ 'password.forms.enter_password_placeholder' | t }}">
							</p>
							<p class="form-field form-field--submit">
								<input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
							</p>
						</div>
						<p class="form-field">
							<label>{{ 'password.content.admin_link' | t }} <a href="/admin">{{ 'password.content.admin_login' | t }}</a></label>
						</p>

					{%- endform -%}
				</div>
			</div>

			<footer class="password__footer">
				<p>{{ 'password.content.powered_by' | t }}<a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a></p>
			</footer>

		</div><!-- End password-wrap -->
	</div>
</div>

{% schema %}
{
	"name": "Password page",
	"class": "password",
	"settings": [
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Custom logo"
		},
		{
			"type": "range",
			"id": "logo_width",
			"label": "Custom logo width (in pixels)",
			"info": "Max logo height is 100px",
			"min": 50,
			"max": 400,
			"default": 100,
			"step": 5,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Newsletter"
		},
		{
			"type": "richtext",
			"id": "text_newsletter",
			"label": "Text"
		}
	]
}
{% endschema %}
